@media screen and (max-width: 1000px){
    .big-left {
        width: 100px;
    }
    .big-right {
        width: calc(100% - 100px);
        background-color: yellow;
    }
    .hero {
        display: none;
    }
    .input {
        display: none;
    }
    li div {
        display: none;
    }
    .box-list {
        height: calc(100% - 80px);
    }
    .left .btn-header {
        display: none;
    }
    

}
@media screen and (max-width: 480px) {
    .big-left {
        display: none;
    }
    .big-right {
        width: 100%;
    }
    .hero {
        display: none;
    }
    .input {
        display: none;
    }
    .write i {
        display: none;
    }
    .write input {
        width: 100%;
    }
    .btn-header {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    ul li:hover {
        background-color:#f4f5f5 ;
    } 
    .write i:active {
        color: lightskyblue;
        border-radius: 50%;
        
    }
}
