* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big-box {
    width: 100%;
    height: 100vh;
    display: flex;
}
.big-left {
    border: 1px solid black;
    width: 30%;
    height: 100vh;
}
.big-right {
    border: 1px solid black;
    width: 70%;
    height: 100vh;
    background-image: url(/img/mine.jpg);
}
.header {
    border: 1px solid black;
    height: 80px;
    background-color: #eaeaea;
    width: 100%;
}
.image {
    border-radius: 50%;
    width: 70px;
    margin: 10px;
}
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-header {
    font-size: 2rem;
    color: rgb(177 177 177);
}
.hero {
    background-color:#8edafc ;

}
.icon {
    border-radius: 50%;
    background-color:white ;
    color: #8edafc;
    padding: 20px;
    margin: 20px;
}
.icon-none a {
    color: black;
    opacity: .6;
}
.hero {
    width: 100%;
    display: flex;
    align-items: center;
}
.input {
    padding: 20px;
    background-color:rgb(250 250 250);
}
#mysearch {
    margin-left: 20px ;
    padding: 10px;
}