@media screen and (max-width: 1000px){
    .big-left {
        width: 20%;
        background-color: red;
    }
    .big-right {
        width: 80%;
        background-color: yellow;
    }
    .btn-header {
        display: none;
    }
    .hero {
        display: none;
    }
    .input {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .big-left {
        display: none;
    }
    .big-right {
        width: 100%;
    }
    .hero {
        display: none;
    }
    .input {
        display: none;
    }
}
