* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.big-box {
    width: 100%;
    height: 100vh;
    display: flex;
}
.big-left {
    border: 1px solid rgb(177 177 177);
    width: 30%;
}
.big-right {
    border: 1px solid rgb(177 177 177);
    width: 70%;
    background-image: url(/img/mine.jpg);
    position: relative;
}
.header {
    height: 80px;
    background-color: #eaeaea;
    width: 100%;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-left {
    display: flex;
}
.h-right {
    width: 150px;
}
.mic-side {
    align-self: center;
}
.mic-side p {
    color: darkgray;
}
.image {
    border-radius: 50%;
    width: 60px;
    margin: 10px;
}
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-header {
    font-size: 1.5rem;
    color: rgb(177 177 177);
    margin-right: 15px;
}
.btn-header i {
    padding: 10px;
}
.hero {
    background-color:#8edafc ;
}
.icon {
    border-radius: 50%;
    background-color:white ;
    color: #8edafc;
    padding: 20px;
    margin: 20px;
}
.icon-none a {
    color: black;
    opacity: .6;
}
.hero {
    width: 100%;
    display: flex;
    align-items: center;
}
.input {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color:rgb(250 250 250);
}
.box-list {
    height: calc(100vh - 280px);
    overflow-y: auto;
}
#mysearch {
    margin-left: 20px ;
    padding: 10px;
}
ul li {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgray ;
}
li p {
    color: lightgray;
}
.time {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.write {
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: #f3eeea;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    color: darkgray;
}
.write input {
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
.write i {
    width: 10%;
    text-align: center;
}
.chat {
    overflow-y: auto;
    height: calc(100vh - 160px);
}